<!DOCTYPE html>
<html ng-app="ReedsyQueue">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>Reedsy Challenge</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">
    <h1>Conversions</h1>
    <button type="button" ng-click="main.pdf()" name="PDFbutton">New PDF Conversion</button>
    <button type="button" ng-click="main.html()" name="HTMLbutton">New HTML Conversion</button>
  </body>
</html>
